body{
    padding: 0px;
    margin: 0px;
}
.navbar{
    background-color: #242526;
}
.navbar-brand{
    color: #fff;
    margin-left: 10px;
}
.navbar-brand:hover{
    color:#fff;
}
.post{
    position: relative;
    top: 7%;
}
p{
    color: #fff;
}
h1{
    color:#fff;
}

h2{
    font-family: 'Days One', sans-serif;
}
h5{
    color: aliceblue;

}

.rb{
    background-color: #1c1e21;
}
.myImg{
    width: 35px;
    border-radius: 50%;
}

.myImg1{
    width: 27px;
    border-radius: 50%;
}

#postDiv1{
    position: relative;
    background-color: #2a2b2cd0;
    padding-top: 10px;
    border-radius: 15px;
}

#myInputId{
   position: relative;
   left: 30%;
}
.postImg{
  position: relative;
  left: 15%;
  
}
#pd{
    margin-top: 5%;
}
.newPost2{
    background-color: #2a2b2cd0;
    margin-top: 50px;
    border-radius: 15px;
    position: relative;
}
.pId{
    margin-left: 3%;
}
.dateId{
    margin-left: 3%;
}
.postBorder1{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    width: 95%;
    margin-left: 15px;
}
.postBorder2{
    display: flex;
    gap: 70px;
    padding-top: 10px;
    margin-left: 15px;
}
.flexPost2{
    display: flex;
    gap: 5px;
}
.marg{
    margin-left: 80%;
}
.container-fluid{
    display: flex;
}
.row-1{
    width: 31%;
    position: relative;
    top: 20px;
}
.row-2{
    width: 38%;
    position: relative;
}
.row-3{
    width: 31%;
    position: relative;
    top: 20px;

}

.head-search{
    padding: 10px 130px 10px 10px;
    border-radius: 35px;
    background-color: transparent;
    color: darkgrey;
    border-color: hsla(0, 0%, 88%, 0.39);
    margin-left: 20%;
}

.head-search-2{
    padding: 2% 40% 2% 5%;
    width: auto;
    border-radius: 30px;
    background-color: transparent;
    color: darkgrey;
    border-color: hsla(0, 0%, 88%, 0.39);
}
.form-inline{
    display: flex;
}
.div1{
    position: relative;
    margin-top: 10px;
    border-bottom: 1px solid gray;
    width: 50%;
    padding-bottom: 20px;
}
.nnn{
    text-align: left;
    display: flex;
}
.equal{
    display: flex;
    gap: 10px;
}

.fa-house{
    color: #fff;
    padding: 5px;

}
.fa-facebook-messenger{
    color: #fff;
    padding: 10px;
}

.fa-user-group{
    color:darkmagenta;
    padding: 5px;
}
.fa-floppy-disk{
    color: #fff;
    padding: 5px;

}
.fa-bell{
    color: #fff;
    padding: 10px;
}
.fa-video{
    color: #cb2a2a;
}
.fa-image{
    color: rgb(50, 255, 50);
}
.fa-face-smile{
    color:gold ;
}
/* Js Part */


#pId{
    color: #fff;
}
#spId{
    color: #fff;
}

.btn-pro{
    background-color: transparent;
    border: none;
    height: 25px;
}
/* dropdown */

.active{
    background-color: #282424;
    color: #fff;
}

.dropdown{
    position: relative;
    display: inline-block;
} 
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
.dropdown-content{ 
   display: none;
   position: absolute;
   top: 57px;
   right: 10px;
   width: 350px;
   height: 400px;
   background-color:#242526;
   box-shadow: 0px 8px 16px 0px rgba(20, 20, 20, 0.81);
}
.dropdown-content .div1{
    position: relative;
    margin-top: 10px;
    border-bottom: 1px solid gray;
    width: 80%;
    padding-bottom: 20px;
    left: 20px;
}
 .dropdown-content .equal{
    position: relative;
    top: 20px;
    padding-bottom: 10px;
}
.seeProfile{
    position: relative;
    top: 10px;
    left: 20px;
}
  /* popup 

  .popup{
    width: 300px;
    background-color: #f1fbff;
    border-radius: 6px;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    margin-left: 6px;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s ;
  }
  .popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
  }
  
  .popup h2{
    font-size: 30px;
    font-weight: 400;
  }
  .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
  }

  */