body{
    padding: 0px;
    margin: 0px;
}


.navbar{
    background-color: #242526;
}
.navbar-brand{
    color: #fff;
    margin-left: 10px;
}
.navbar-brand:hover{
    color:#fff;
}
h1{
    color:#fff;
}

h2{
    font-family: 'Days One', sans-serif;
}
h5{
    color: aliceblue;

}
.rb{
    background-color: #202124;
}
.container-fluid{
    display: flex;
}
.row-1{
    width: 31%;
}
.row-2{
    width: 38%;
}
.row-3{
    width: 31%;
}

.head-search{
    padding: 5% 120% 5% 5%;
    width: auto;
    border-radius: 35px;
    margin-left: 150%;
    background-color: transparent;
    color: darkgrey;
    border-color: hsla(0, 0%, 88%, 0.39);

}
.head-search-2{
    padding: 2% 20% 2% 5%;
    width: auto;
    border-radius: 30px;
    background-color: transparent;
    color: darkgrey;
    border-color: hsla(0, 0%, 88%, 0.39);
}
.form-inline{
    display: flex;
}
.div1{
    margin-top: 20px;
    border-bottom: 1px solid gray;
    width: 50%;
}
#pId{
    color: #fff;
}
#spId{
    color: #fff;
}
.fa-house{
    color: #fff;
    margin-right: 15px;
}
.fa-facebook-messenger{
    color: #fff;
}
.nnn{
    margin-left: 50%;
}
.equal{
    display: flex;
}

a {
    text-decoration: none;
}